# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android Studio
.idea/
*.iml

# Local configuration
local.properties
/app/release/offline-snippet-reminder.apk
/app/release/baselineProfiles/0/offline-snippet-reminder.dm
/app/release/baselineProfiles/1/offline-snippet-reminder.dm
/app/release/output-metadata.json
