<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omer.offlinereminder">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".OfflineSnippetReminderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_reminder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.OfflineSnippetReminder">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OfflineSnippetReminder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
